* {
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0;
	margin: 0;
  font-size: 16px;
  line-height: 22;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  color: #4a4b4c;
  background-color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

/* CONTAINER */

.container {
	width: 100%;
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}


Rubik 700, 400, 500
