/* GLOBAL STYLES */
* {
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	font-family: Rubik, Arial, Helvetica, sans-serif;
	color: #4a4b4c;
	background-color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

/* Outline */

*:focus {
	outline: 2px dashed #7296ec;
	outline-offset: 3px;
}

/* Button  */
.button {
	display: inline-block;
	padding: 13px 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: normal;
	border-radius: 10px;
	text-decoration: none;
}

.button-primary {
	background-color: #7296ec;
	color: #fff;
}

.button-primary:hover {
	opacity: 0.8;
}

.button-primary:active {
	opacity: 0.6;
}

/* CONTAINER */

.container {
	width: 100%;
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}

/* SITE HEADER */

.site-header {
}

/* Site header top */
.site-header-top {
	padding: 30px 0;
	background-color: #f6f6f6;
	margin-bottom: 10px;
}
.site-header-top-container {
	display: flex;
	align-items: center;
}

/* Logo  */

.site-header-logo {
	display: flex;
	background-color: #fff;
	padding: 8px 6px;
	border-radius: 7px;
	margin-right: 35px;
}

.site-header-logo:hover {
	opacity: 0.8;
}
.site-header-logo:active {
	opacity: 0.6;
}

/* Currency rates */
.currency-rates {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-right: auto;
}
.currency-rates-item:not(:last-child) {
	margin-right: 25px;
}
.currency-rates-type {
	color: #2959ce;
}
.currency-rates-value {
	color: #555;
	font-size: 16px;
	line-height: 100%;
}

/* Global search form */

.global-search-form {
	margin-right: 25px;
}

.global-search-form-input {
	padding-top: 13px;
	padding-bottom: 15px;
	padding-left: 40px;
	padding-right: 20px;
	border-radius: 60px;
	font-size: 14px;
	line-height: normal;
	border: none;
}

/* Lang toggle */

.lang-toggle {
	display: flex;
	padding: 3px;
	border-radius: 39px;
	background-color: #dce6ff;
	margin-right: 25px;
}

.lang-toggle-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-decoration: none;
	text-align: center;
	font-size: 13px;
	/* line-height: 30px; */
}
.lang-toggle-link-active {
	background-color: #fff;
	color: #000;
}

/* SITENAV */
.sitenav {
	border-bottom: 1px solid #d1d1d1;
	padding: 16px 0;
	font-weight: 500;
	font-size: 18px;
	line-height: normal;
	margin-bottom: 40px;
}
.sitenav-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
.sitenav-item {
	margin: 4px 0;
}
.sitenav-item:not(:last-child) {
	margin-right: 34px;
}
.sitenav-link {
	display: block;
	text-decoration: none;
	color: #7f7f7f;
}

.sitenav-link:hover {
	opacity: 0.8;
}

.sitenav-link:active {
	opacity: 0.6;
}

/* Site header banner */
.side-header-banner {
}
.site-header-banner-link {
	display: flex;
}
.site-header-banner-img {
	width: 1200px;
	height: 128px;
	border-radius: 8px;
}

/* MAIN CONTENT */

.main-content {
	flex-grow: 1;
	padding-top: 50px;
}

/* NEWS-GRID */
.top-news {
}

.news-grid {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
}
.new-grid-item {
	width: 393px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.article-card {
	display: flex;
	flex-direction: column;
	background-color: #f6f6f6;
	border-radius: 15px;
	padding: 20px 17px 15px;
}
.article-card-title {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
}
.article-card-link {
	color: #000;
	display: inline-block;
	text-decoration: none;
}

.article-card-link:hover {
	color: #7296ec;
}

.article-card-link:active {
	opacity: 0.8;
}

.article-card-text {
	margin-top: 0;
	margin-bottom: 15px;
}
.article-card-img {
	display: block;
	width: 360px;
	height: 165px;
	object-fit: cover;
	margin-top: auto;
	margin-bottom: 15px;
	border-radius: 10px;
}
.article-card-footer {
	display: flex;
	align-items: center;
}
.article-card-source-icon {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	margin-right: 10px;
}
.article-card-source-time {
	font-size: 12px;
	line-height: normal;
	color: #5e5f61;
}
.article-card-source {
}
.article-card-time {
}
